@import 'materialize';

.rantly-blue {
  background-color: #34495E;
}


.brand-logo {
  margin-left: 10px;
  font-weight: bold;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 16px;
}
@import url(http://fonts.googleapis.com/css?family=Laila:400,700);
@import url(http://fonts.googleapis.com/css?family=Hind:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,900);
*,
:after,
:before {
    box-sizing: border-box
}
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}
ol,
ul {
    list-style: none
}
blockquote,
q {
    quotes: none
}
blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
@-webkit-keyframes fade-in {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@-webkit-keyframes fade-out {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
@-webkit-keyframes slide-in-top {
    0% {
        top: -1000px
    }
    100% {
        top: 0
    }
}
@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translate3d(101%, 0, 0);
        transform: translate3d(101%, 0, 0)
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}
@-webkit-keyframes slide-in-right {
    0% {
        right: -1000px
    }
    100% {
        right: 0
    }
}
@-webkit-keyframes slide-out-left {
    0% {
        -webkit-transform: translate3d(0%, 0, 0);
        transform: translate3d(0%, 0, 0)
    }
    100% {
        -webkit-transform: translate3d(101%, 0, 0);
        transform: translate3d(101%, 0, 0)
    }
}
@-webkit-keyframes slide-out-right {
    0% {
        right: 0
    }
    100% {
        right: -1000px
    }
}
.fade-in {
    -webkit-animation: fade-in .4s ease-in
}
.fade-out {
    -webkit-animation: fade-out .4s ease-out
}
.slide-in-top {
    -webkit-animation: slide-in-top .4s ease-out
}
.slide-in-left {
    -webkit-animation: slide-in-left .4s ease-out
}
.slide-in-right {
    -webkit-animation: slide-in-right .4s ease-out
}
.slide-out-right {
    -webkit-animation: slide-out-right 450ms ease-out
}
.slide-out-left {
    -webkit-animation: slide-out-left 450ms ease-out
}
body {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.72222;
    color: #34495e;
    background-color: #fff
}
a {
    color: #16a085;
    text-decoration: none;
    -webkit-transition: .25s;
    transition: .25s
}
a:focus,
a:hover {
    color: #1abc9c;
    text-decoration: none
}
a:focus {
    outline: 0
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Laila, serif;
    font-weight: 700;
    line-height: 1.1;
    color: inherit
}
h1,
h2,
h3 {
    margin-top: 30px;
    margin-bottom: 15px
}
h4,
h5,
h6 {
    margin-top: 15px;
    margin-bottom: 15px
}
h1 {
    font-size: 61px
}
h2 {
    font-size: 53px
}
h3,
h4 {
    font-size: 29px
}
h5 {
    font-size: 28px
}
h6 {
    font-size: 24px
}
p {
    margin: 0 0 15px;
    font-size: 18px;
    line-height: 1.72222
}
strong {
    font-weight: 400
}
.section-title {
    border-bottom: 3px solid #34495E;
    margin-top: 0
}
button h4 {
    font-family: Hind, Helvetica, Arial, sans-serif
}
.content {
    padding-left: 15px;
    clear: both;
    overflow: hidden
}
.columns {
    overflow: visible;
    clear: both
}
main {
    width: 74.5687%;
    float: right;
    padding: 15px 15px 0;
    height: 570px;
    overflow-y: auto;
    overflow-x: hidden
}
.rants-navigation {
    width: 25.333%;
    float: left;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2)
}
.app-inner-header {
    width: 74.5787%
}
button {
    -webkit-appearance: button;
    cursor: pointer;
    outline: 0;
    border: 0;
    -webkit-transition: .25s;
    transition: .25s
}
.button {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    color: #fff;
    border: 1px solid;
    border-radius: 3px;
    -webkit-transition: .25s;
    transition: .25s
}
.button:hover {
    background: #fff
}
.button-block {
    display: block;
    width: 100%
}
.button-invert {
    background: #fff;
    color: #1ABC9C;
    border-color: #fff
}
.button-invert:hover {
    background: #1ABC9C;
    color: #fff;
    border-color: #1ABC9C
}
.button-default:hover {
    color: #BDC3C7
}
.button-primary {
    background: #1ABC9C
}
.button-primary:hover {
    color: #1ABC9C
}
.button-warning {
    background: #F1C40F
}
.button-warning:hover {
    color: #F1C40F
}
.button-danger {
    background: #E74C3C
}
.button-danger:hover {
    color: #E74C3C
}
.app-header {
    background-color: #34495e;
    min-height: 53px;
    font-size: 16px
}
.app-header .app-header-brand {
    font-size: 30px;
    padding-left: 10px
}
.app-header a {
    float: left;
    display: block;
    position: relative;
    color: #fff;
    padding: 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
    -webkit-transition: .25s;
    transition: .25s
}
.app-header-actions {
    float: right;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 19px;
    margin-top: 0;
    margin-bottom: 0
}
.navbar-unread {
    position: absolute;
    top: 35%;
    right: 12px;
    z-index: 10;
    width: 6px;
    height: 6px;
    font-size: 0;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    background-color: #1abc9c;
    border-radius: 50%
}
.app-inner-header {
    float: left;
    background: #3498DB;
    padding: 7px 15px;
    color: #fff
}
.app-inner-header .button {
    float: right
}
.app-inner-header-title {
    margin: 0;
    float: left;
    line-height: 1;
    padding: 0;
    font-size: 32px
}
input,
textarea {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.72222;
    color: #34495E;
    border: 2px solid #ECF0F1;
    border-radius: 3px;
    -webkit-appearance: none;
    -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
    transition: border .25s linear, color .25s linear, background-color .25s linear
}
input:focus,
textarea:focus {
    border: 2px solid #1ABC9C;
    outline: 0
}
.form-group {
    position: relative;
    margin-bottom: 15px
}
.form-group input {
    padding: 0px
}
.login-form {
    position: relative;
    padding: 15px;
    border-radius: 3px;
}
.login-form .control-group {
    position: relative
}
.login-form input:focus+.login-field-icon {
    color: #1abc9c
}
.login-form .login-field-icon {
    position: absolute;
    top: 3px;
    right: 15px;
    font-size: 16px;
    color: #bfc9ca;
    line-height: 2.5;
    -webkit-transition: all .25s;
    transition: all .25s
}
.login-link {
    display: block;
    margin-top: 15px;
    font-size: 13px;
    color: #bfc9ca;
    text-align: center
}
.author {
    padding-left: 0;
    padding-top: 0;
    float: left;
    width: 100%;
    margin-left: 15px;
    -webkit-transition: .25s;
    transition: .25s
}
.author:first-of-type,
.author:nth-of-type(4n+1) {
    margin-left: 0
}
@media (max-width: 660px) {
    .author {
        width: 100%;
        margin-left: 0
    }
}
.author-index .author {
    padding: 15px 15px 0;
    width: 23.6202%;
    min-height: 190px;
    margin-bottom: 15px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2)
}
@media (max-width: 660px) {
    .author-index .author {
        width: 100%;
        margin-left: 0
    }
}
.author .button {
    margin-bottom: 15px
}
.author>h5 {
    margin-top: 4px;
    margin-bottom: 3px;
    font-size: 16px;
    font-weight: 400;
    text-transform: none
}
.author>h6 {
    margin-top: 3px;
    font-size: 11px;
    font-weight: 300;
    line-height: 18px;
    text-transform: none;
    margin-bottom: 0
}
.author-photo {
    display: block;
    width: 100%;
    height: 100px;
    margin-bottom: 15px;
    color: #34495E;
    background: url(../img/author-photo-db65e861597528b36484917f92f1e0b3.png) center/cover no-repeat;
    border: 4px dashed;
    border-radius: 25px 25px 0
}
.hero {
    text-align: center
}
.rant-item {
    width: 100%;
    position: relative;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);
    border-radius: 3px;
    -webkit-transition: .25s;
    transition: .25s;
    clear: both;
    overflow: hidden
}
.rant-header {
    margin-bottom: 15px;
    clear: both;
    overflow: hidden
}
.rant-header-title {
    float: left;
    width: 60%
}
.rant-header-title h3 {
    margin-bottom: 0;
    margin-top: 0
}
.rant-header-title .icon {
    float: left;
    font-size: 29px;
    line-height: 1;
    margin-right: 15px;
    color: #ECF0F1;
    cursor: pointer
}
.rant-header-title .icon:hover {
    color: rgba(155, 89, 182, .5)
}
.rant-header-title .icon.favorite {
    color: rgba(155, 89, 182, .8)
}
.rant-header-title a {
    color: #34495E
}
.rant-header-title input {
    font-family: Laila, serif;
    font-weight: 700;
    line-height: 1.1;
    color: #34495E;
    border: none;
    border-bottom: 2px solid #ECF0F1;
    border-radius: 0;
    padding: 0;
    font-size: 29px
}
.rant-header-title input:focus {
    border-color: #1ABC9C
}
.rant-header-actions {
    float: right
}
.rant-header-actions .button {
    float: left;
    margin-left: 15px
}
.rant-item-content {
    float: left;
    width: 79%;
    padding-left: 20px
}
.rant-secondary {
    width: 21%;
    float: left
}
.rant-navigation {
    margin-bottom: 20px;
    color: #1ABC9C;
    border-radius: 3px
}
.rant-search {
    padding-left: 10px;
    position: relative;
    color: #3498DB;
    background: 0 0/16px 16px #3498DB
}
.rant-search-field {
    padding: 0;
    margin: 0;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    color: #34495E;
    text-indent: 0;
    background: 0 0;
    border-color: transparent;
    outline: 0;
    box-shadow: none
}
.rant-search-field:focus {
    border: none;
}
.rant-search-field::-moz-placeholder {
    color: #fff;
    opacity: 1
}
.rant-search-field:-ms-input-placeholder {
    color: #fff
}
.rant-search-field::-webkit-input-placeholder {
    color: #fff
}
.rant-navigation nav {
    padding: 0;
    margin: 0;
    border-radius: 0 0 3px 3px
}
.rant-navigation button {
    font-family: Hind, Helvetica, Arial, sans-serif;
    font-size: 30px;
    text-align: left;
    background: 0 0;
    color: #BDC3C7;
    display: block;
    width: 100%;
    padding: 15px;
    cursor: pointer;
    -webkit-transition: .25s;
    transition: .25s;
    border-bottom: 1px solid rgba(52, 73, 94, .1)
}
.rant-navigation button .active {
    color: #1ABC9C
}
.rant-navigation button:hover {
    background: rgba(236, 240, 241, .3)
}
.rant-navigation button:first-child {
    padding-top: 20px
}
.rant-navigation .icon {
    padding-right: 30px;
    vertical-align: middle
}
.rant-navigation .active {
    color: #1abc9c
}
