<main id="scroll">
  <section class="rants-index">

  {{#each rant in controller itemController='rant'}}
    {{single-rant rant=rant deleteRant="deleteRant" editRant="editRant" cancelEdit="cancelEdit" updateRant="updateRant"}}
  {{/each}}
  </section>


</main>
