
<main id="scroll">
  <section class="rants-index">


    <article class="ember-view rant-item">
      <header class="rant-header">
        <div class="rant-header-title">
          <a class="ember-view" href="/rants/43">

            <h3>Hi Ya!</h3>
          </a>
        </div>
        <div class="rant-header-actions">
          <button class="button button-primary"><i class="fa fa-pencil-square-o">Edit</i></button>
        </div>
      </header>

      <aside class="rant-secondary">
        <div class="ember-view author"><div style="background-image: url(http://www.gravatar.com/avatar/undefined?s=200)" class="author-photo"></div>
        <h5> </h5>
        <h6></h6>
      </div>
    </aside>

    <section class="rant-item-content">
      dgdzgnzd...
    </section>

  </article>
  <article class="ember-view rant-item">
    <header class="rant-header">
      <div class="rant-header-title">
        <a class="ember-view" href="/rants/38">
          <h3>
          YEAH THIS IS BALLER SON !
        </h3>
      </a>    </div>
      <div class="rant-header-actions">
        <button class="button button-primary"><i class="fa fa-pencil-square-o">Edit</i></button>
      </div>
    </header>

    <aside class="rant-secondary">
      <div class="ember-view author"><div style="background-image: url(http://www.gravatar.com/avatar/undefined?s=200)" class="author-photo"></div>
      <h5> </h5>
      <h6></h6>
    </div>
  </aside>

  <section class="rant-item-content">
    Is this thing on? --Wes in effect!...
  </section>

</article>
<article class="ember-view rant-item">
  <header class="rant-header">
    <div class="rant-header-title">
      <a class="ember-view" href="/rants/45">

        <h3>
        this dress thing tho
      </h3>
    </a>    </div>
    <div class="rant-header-actions">
      <button class="button button-primary"><i class="fa fa-pencil-square-o">Edit</i></button>
    </div>
  </header>

  <aside class="rant-secondary">
    <div class="ember-view author"><div style="background-image: url(http://www.gravatar.com/avatar/undefined?s=200)" class="author-photo"></div>
    <h5> </h5>
    <h6></h6>
    </div>
  </aside>

  <section class="rant-item-content">
    cruft...
  </section>


</article>
</section>


</main>
