  <nav>
    <div class="nav-wrapper rantly-blue">
      <a href="" class="brand-logo">Rantly</a>
    </div>
  </nav>
  <section class="content">
  <aside class="rants-navigation">
    <div id="ember391" class="ember-view"><div class="rant-search">
  <input id="ember431" class="ember-view ember-text-field rant-search-field" placeholder="Search" type="search">
</div>
</div>
    <div id="ember400" class="ember-view"><form class="login-form" data-ember-action="434">
  <div class="form-group">
    <input id="ember435" class="ember-view ember-text-field" placeholder="Your email" type="text">
    <label class="login-field-icon icon-user" for="login-name"></label>
  </div>

  <div class="form-group">
    <input id="ember436" class="ember-view ember-text-field" placeholder="Your password" type="password">
    <label class="login-field-icon icon-lock" for="login-pass"></label>
  </div>
  <input id="ember437" class="ember-view ember-text-field button button-primary button-lg button-block" type="submit" value="Log In">
</form>
  </div>
</aside>

  <header class="app-inner-header">
<a id="ember404" class="ember-view" href="/new">      <button class="button button-invert">New Rant</button>
</a>  </header>

  <main id="scroll">
    <section class="rants-index">


    <article id="ember493" class="ember-view rant-item">
  <header class="rant-header">
    <div class="rant-header-title">
<a id="ember494" class="ember-view" href="/rants/43">        <h3>
          Hi Ya!
        </h3>
</a>    </div>
    <div class="rant-header-actions">
      <button class="button button-primary" data-ember-action="495"><span class="icon-new"> Edit</span></button>
    </div>
  </header>

  <aside class="rant-secondary">
    <div id="ember504" class="ember-view author"><div style="background-image: url(http://www.gravatar.com/avatar/undefined?s=200)" class="author-photo"></div>
<h5> </h5>
<h6></h6>
</div>
  </aside>

  <section class="rant-item-content">
      dgdzgnzd...
  </section>

  <button data-ember-action="505">Kill</button>


</article>
    <article id="ember520" class="ember-view rant-item">
  <header class="rant-header">
    <div class="rant-header-title">
<a id="ember521" class="ember-view" href="/rants/38">        <h3>
          YEAH THIS IS BALLER SON !
        </h3>
</a>    </div>
    <div class="rant-header-actions">
      <button class="button button-primary" data-ember-action="522"><span class="icon-new"> Edit</span></button>
    </div>
  </header>

  <aside class="rant-secondary">
    <div id="ember523" class="ember-view author"><div style="background-image: url(http://www.gravatar.com/avatar/undefined?s=200)" class="author-photo"></div>
<h5> </h5>
<h6></h6>
</div>
  </aside>

  <section class="rant-item-content">
      Is this thing on? --Wes in effect!...
  </section>

</article>
    <article id="ember531" class="ember-view rant-item">
  <header class="rant-header">
    <div class="rant-header-title">
<a id="ember532" class="ember-view" href="/rants/45">        <h3>
          this dress thing tho
        </h3>
</a>    </div>
    <div class="rant-header-actions">
      <button class="button button-primary" data-ember-action="533"><span class="icon-new"> Edit</span></button>
    </div>
  </header>

  <aside class="rant-secondary">
    <div id="ember534" class="ember-view author"><div style="background-image: url(http://www.gravatar.com/avatar/undefined?s=200)" class="author-photo"></div>
<h5> </h5>
<h6></h6>
</div>
  </aside>

  <section class="rant-item-content">
      cruft...
  </section>


</article>
</section>


  </main>
</section>

{{outlet}}
